@model List<AboutDto>

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                @if ((bool)ViewBag.ShowButton)
                {
                    <form action="About/Create" method="get">
                        <p>
                            <button class="btn btn-primary">@DefaultConstantValue.ADD_MESSAGE</button>
                        </p>
                    </form>
                }

                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Başlıq</th>
                            <th>Açıqlama</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@(item.Title.Length > 20 ? item.Title.Substring(0, 20) + "..." : item.Title)</td>
                                <td>@(item.Description.Length > 20 ? item.Description.Substring(0, 20) + "..." : item.Description)</td>                                
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.ID">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


